---
---

@import "palettes";
@import "theme";
@import "mixins";

.flex-container {
    display: flex;
}

.background {
    #home-vid {
        width: 100%;
        max-width: 1200px;
    }
}

.thumbnails {
    .card_image {
        box-shadow: none;
        img {
            width: auto;
        }
    }
}

.col-flex {
    display: flex;
    .col {
        padding: 10px;
    }

    .home-news {
        .news-item {

            .content {
                box-shadow: none;
            }
        }
        
    }    

    .social {
        max-height: 1000px;
        min-width: 350px;
        overflow: scroll;
    }
    
}

.bigger {
    font-size: 1.7rem;
}