---
---

@import "palettes";
@import "theme";
@import "mixins";

.feature {
    .feature_title {
        text-align: left;
    }

    .date {
        text-align: left;
        display: block;
        margin: -10px 0;
        font-style: italic;
        font-size: 0.85em;
    }
}
