---
---

@import "palettes";
@import "theme";
@import "mixins";


.news-item {
    display: flex;
    margin-bottom: 10px;
    align-items: flex-start;
    // align-content: center;
    background-color: #ffffff;
    box-shadow: 0px 6px 15px rgba(7, 78, 206, 0.1);
    border-radius: 5px;
    color: #57647c;
    transition: 0.5s;

    .date {
        min-width: 120px;
        padding: 10px;
        font-size: 0.9em;
        // font-weight: bold;
        align-self: flex-start;
        color: $purdue-campus-gold;
    }

    .image {
        width: 120px;
        padding: 10px;
        flex-shrink: 0;
        align-self: center;

        img {
            max-height: 25px;
        }
    }

    .content {
        text-align: left;
        padding: 10px 5px;
        flex-grow: 2;
    }
}