<!-- third party scripts -->
<script src="https://unpkg.com/@popperjs/core@2" defer></script>
<script src="https://unpkg.com/tippy.js@6" defer></script>
<script
  src="https://cdnjs.cloudflare.com/ajax/libs/mark.js/8.11.1/mark.min.js"
  defer
></script>

<!-- site-wide javascript scripts -->
<!-- <script src="/plugins/glider/glider.min.js"></script> -->
<script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
<script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
<script type="text/javascript" src="/plugins/slick/slick.min.js"></script>
{% for file in site.static_files %}
  {%- if file.path contains "/js" -%}
    <script src="{{ file.path | relative_url }}" defer></script>
  {% endif -%}
{% endfor %}
